.header {
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: 65px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

body {
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
}

.transition {
    animation: fadeIn 5s;
}

.transition2 {
    /* delay the fade in animation */
    animation: fadeIn 5s 10s;
    
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}